html
	head
		title Pokemon Chart
		link(rel='shortcut icon', href='/images/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
		script(src='https://code.jquery.com/jquery-1.11.2.js')
		script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.js')
	body
		h1 Pokemon Ordered by Pokedex
		div(class='canvas-container')
			canvas(id='pokedexCanvas', height='600', width='11825')
		h1 Pokemon Ordered by Height
		div(class='canvas-container')
			canvas(id='heightCanvas', height='600', width='11825')
		h1 Pokemon Ordered by Weight
		div(class='canvas-container')
			canvas(id='weightCanvas', height='600', width='11825')
		h1 Pokemon Ordered by Base Stat Power Ranking
		div(class='canvas-container')
			canvas(id='powerCanvas', height='600', width='11825')
		div#dialog
		h3 
			| All stats pulled from 
			a(href='http://pokemondb.net/pokedex/all') pokemondb.net/pokedex/all
		script var pokemon = !{pokemon}
		script(src='/javascripts/app.js')
